<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="QLCCEntities" connectionString="metadata=res://*/DAL.EDM.Model_QLCC.csdl|res://*/DAL.EDM.Model_QLCC.ssdl|res://*/DAL.EDM.Model_QLCC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TO351Q6\SQLEXPRESS;initial catalog=DA_PTUD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DA_PTUDEntities" connectionString="metadata=res://*/DAL.EDM.Model1.csdl|res://*/DAL.EDM.Model1.ssdl|res://*/DAL.EDM.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DA_PTUD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLCCEntities1" connectionString="metadata=res://*/DAL.EDM.Model1.csdl|res://*/DAL.EDM.Model1.ssdl|res://*/DAL.EDM.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=QLCC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DA_PTUDEntities1" connectionString="metadata=res://*/DAL.EDM.Model1.csdl|res://*/DAL.EDM.Model1.ssdl|res://*/DAL.EDM.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DA_PTUD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>